services:
  web:
    build: .
    container_name: todo_app
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:8.0
    container_name: mysql_todo
    env_file: .env
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    restart: unless-stopped