services:
  web:
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    restart: no
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c '
       python wait_for_db.py &&
       echo "[RUNNING TESTS]" &&
       pytest tests/
      '


    
  db:
    image: mysql:8.0
    env_file: .env
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    restart: no
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
