services:
  web:
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - .:/app
    working_dir: /app
    command: 
        sh -c "
        echo '[WAIT] Waiting for DB to be ready...' &&
        for i in {1..30}; do
          mysql -h db -u app_user -p123456 -e 'SELECT 1;' todo_app && break;
          echo '[WAIT] Attempt $i...'; sleep 2;
        done &&
        echo '[RUNNING TESTS]' &&
        pytest tests/
      "

    
  db:
    image: mysql:8.0
    env_file: .env
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
