services:
  web:
    image: hitibash/devops-demo:latest

  db:
    image: mysql:8.0
    container_name: mysql_todo
    env_file: .env
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
