# Rename this file to .env before running the app
# DO NOT commit .env to the repository

DB_HOST=db
DB_USER=app_user
DB_PASSWORD=123456
DB_NAME=todo_app
DB_PORT=3306
MYSQL_ROOT_PASSWORD=123456
SECURE_KEY=fixed-key-USE_ONLY_IN_DEV_ENV
